$desktopSize: 1000px;
$tabletSize: 700px;
$phoneSize: 500px;// to change size of these above

//---No use color palette (change name of variable)
$colorToUse: #89888C;
$color2ToUse: #4885bb;

//---------------COLORS--------------------

$mainHeadingColor: #67618C;
$mainBackgroundColor: #fefefe;
$navigationLinkColor: #F0F0F2;
$articleHeadingColor: #59554D;
$sectionHeadingColor: #26211F;